project:
  type: website
  output-dir: docs 
  resources:
    - images/
  
website:
  title: "Daffa Daniel Rivaldi"
  repo-url: https://github.com/daffadaniel/03-DatabaseDesign
  repo-actions: [source, issue]
  navbar:
    background: dark
    search: true
    left: 
      - text: "Home"
        href: "https://daffadaniel.github.io"
      - text: "About"
        href: "https://daffadaniel.github.io/about.html"
      - text: "Posts"
        href: "https://daffadaniel.github.io/post.html"
    right:
      - icon: github
        href: https://github.com/daffadaniel
      - icon: linkedin
        href: https://www.linkedin.com/in/daffadr/
      - icon: medium
        href: medium.com

  sidebar:
    style: "floating"
    background: rgb(26, 25, 24)
    search: true
    contents:
      - text: "Main Article" 
        file: index.qmd
      - section: "Project Detail"
        contents:
          - text: "Creating Dummy Data Sets Notebook"
            file: notebook/Populating_the_Database.ipynb

page-footer:
    right: "This blog is built with [Quarto](https://quarto.org/)."

format:
  html:
    embed-resources: true
    theme: darkly
    mainfont: "Segoe UI, Roboto, Helvetica, Arial, sans-serif"
    fontsize: "1.05em"
    backgroundcolor: rgb(26, 25, 24)
    fontcolor: white
    page-layout: article
    toc: true
    toc-location: right
    css: styles.css
    highlight-style: monokai
    linkcolor: "#10a162"
    grid:
      sidebar-width: 300px
      body-width: 768px
      margin-width: 300px
      gutter-width: 1.5rem

execute:
  eval: false
  freeze: true
